*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsla(241, 100%, 89%, 0.2);
}

.main {
  background: hsla(241, 81%, 54%, 1);
  width: 250px;
  height: 300px;
  border-radius: 20px;
  font-family: "Hanken Grotesk";
  color: hsl(0, 0%, 100%);
  padding-top: 20px;
}
.summary {
  margin-top: 10px;
}
.number {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 800;
}
.number-1 {
  color: hsl(0, 0%, 100%, 0.5);
}
.main-1 {
  background: hsl(234, 85%, 45%);

  border-radius: 100%;
  width: 100px;
  margin-left: 75px;
  margin-right: 100px;
  margin-top: 10px;

  padding: 20px;
}
.main-2 {
  font-family: "Hanken Grotesk";
}

/* span */
.red {
  color: hsl(0, 100%, 67%);
}
.red-1 {
  color: hsla(224, 30%, 27%, 0.6);
}
.memo {
  color: hsl(39, 100%, 56%);
}
.verbal {
  color: hsl(166, 100%, 37%);
}
.visual {
  color: hsl(234, 85%, 45%);
}

/* span */

.img-1 {
  margin-right: 10px;
}
.img-2 {
  margin-right: 10px;
}
.red-3 {
  margin-left: 60px;
}
.memo-1 {
  margin-left: 63px;
}
.img-3 {
  margin-right: 10px;
}
.verbal-1 {
  margin-left: 75px;
}
.img-4 {
  margin-right: 10px;
}
.visual-1 {
  margin-left: 78px;
}
.memo-2 {
  color: hsla(224, 30%, 27%, 0.6);
}
.verbal-2 {
  color: hsla(224, 30%, 27%, 0.6);
}
.visual-2 {
  color: hsla(224, 30%, 27%, 0.6);
}

.content {
  display: flex;
  margin-top: 160px;
  margin-left: 460px;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  width: 540px;
  height: 300px;
  border-radius: 0px 15px 15px 0px;
  margin-bottom: 20px;
}

.summary {
  margin-bottom: 5px;
}

@media (max-width: 375px) {
  * {
    box-sizing: border-box;
    margin: 0;

    padding: 0px;
  }

  
  .main {
    border-radius: 0px 0px 20px 20px;
    font-family: "Hanken Grotesk";
    padding-bottom: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 70px;

    width: 250px;
    height: 610px;
    border-radius: 0px 15px 0px 0px;
  }

  .attribution {
    margin-top: 10px;
  }

  .reaction {
    margin-left: 10px;
  }

  .summary {
    margin-left: 10px;
    font-size: 1rem;
  }

  .memory-1 {
    margin-left: 10px;
  }

  .Vabal {
    margin-left: 10px;
  }
  .vizual {
    margin-left: 10px;
  }
  .button {
    margin-left: 10px;
  }
}
