*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsla(241, 100%, 89%, 0.2);
}

.main {
  /* background: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%)); */
  background: hsla(241, 81%, 54%, 1);
  width: 250px;
  height: 300px;
  border-radius: 20px;
  font-family: "Hanken Grotesk";
  color: hsl(0, 0%, 100%);
  padding-top: 20px;
  margin-bottom: 40px;
}
.number {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 800;
}
.number-1 {
  color: hsl(0, 0%, 100%, 0.5);
}
.main-1 {
  background: hsl(234, 85%, 45%);
  /* background: linear-gradient(to bottom, hsl(241, 81%, 54%)); */

  border-radius: 100%;
  width: 100px;
  margin-left: 75px;
  margin-right: 100px;
  margin-top: 10px;

  /* height:20px; */
  padding: 20px;
}
.main-2 {
  font-family: "Hanken Grotesk";
  margin-top: 20px;
}

/* span */
.red {
  color: hsl(0, 100%, 67%);
}
.red-1 {
  color: hsla(224, 30%, 27%, 0.6);
}
.memo {
  color: hsl(39, 100%, 56%);
}
.verbal {
  color: hsl(166, 100%, 37%);
}
.visual {
  color: hsl(234, 85%, 45%);
}

/* span */

.img-1 {
  margin-right: 10px;
}
.img-2 {
  margin-right: 10px;
}
.red-3 {
  margin-left: 80px;
}
.memo-1 {
  margin-left: 80px;
}
.img-3 {
  margin-right: 10px;
}
.verbal-1 {
  margin-left: 95px;
}
.img-4 {
  margin-right: 10px;
}
.visual-1 {
  margin-left: 95px;
}
.memo-2 {
  color: hsla(224, 30%, 27%, 0.6);
}
.verbal-2 {
  color: hsla(224, 30%, 27%, 0.6);
}
.visual-2 {
  color: hsla(224, 30%, 27%, 0.6);
}

.content {
  display: flex;
  margin-top: 160px;
  margin-left: 460px;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  width: 540px;
  height: 300px;
  border-radius: 0px 15px 15px 0px;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  * {
    box-sizing: border-box;
    margin: 0;

    padding: 0px;
  }

  .main {
    /* background: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%)); */
    background: hsla(241, 81%, 54%, 1);
    width: 250px;
    /* height: 280px; */
    border-radius: 0px 0px 20px 20px;
    font-family: "Hanken Grotesk";
    color: hsl(0, 0%, 100%);
    padding-bottom: 20px;
    /* margin-bottom: 5px; */
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 70px;
    /* gap: 2px; */
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: 260px;
    border-radius: 0px 15px 15px 0px;
    margin-bottom: 5px;
  }

  .main-2{
    padding-top:0px;
  }

  .attribution {
    margin-top: 380px;
  }
}
